.player {
    height: 50px;
    width: 50px;
    position: relative;
    top: 75px;

    &--img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100px;
        left: 15px;
        animation: 1s spin linear infinite;
    }
}

.player.jump {
    animation: 1s jump;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes jump {
    0% {
        top: 75px;
    }

    30% {
        top: 0px;
    }

    50% {
        top: 0px;
    }

    70% {
        top: 0px
    }

    100% {
        top: 75px
    }
}

.obstacle {
    height: 70px;
    width: 70px;
    position: relative;
    top: -85px;
    left: 350px;
    animation: 2s rockrun infinite linear;
}

@keyframes rockrun {
    0% {
        left: 100%;
    }

    100% {
        left: -50px;
    }
}

.slow-obstacle {
    font-size: 60px;
    height: 70px;
    width: 70px;
    position: relative;
    top: -85px;
    left: 350px;
    animation: 8s rockrun infinite linear;
    color: white;
}

@keyframes slow_rock_run {
    0% {
        left: 90%;
    }

    100% {
        left: -50px;
    }
}

.slow-obstacle:hover {
    cursor: pointer;
}