@use './background.scss';

$sky : rgb(167, 238, 238);
$floor : rgb(223, 124, 53);

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.main-game-container{
    height: 200px;
    width: 100%;
    position: relative;
    background-color: $floor;
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    height: 50px;
    width: 50px;
    position: relative;
    top: 100px;
    &--img {
        width: 100%;
            height: 100%;
            position: absolute;
            top: -100px;
            left: 15px;
            animation: 1s spin linear infinite;
    }
}
.player.jump {
    animation: 1s jump;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes jump {
    0% {top: 100px;}
    30% {top: 20px;}
    50% {top: 20px;}
    70% {top: 20px}
    100% {top: 100px}
}

.block--img {
    height: 70px;
    width: 70px;
    position: relative;
    top: -60px;
    left: 350px;
    animation: 2s rockrun infinite linear;
}

@keyframes rockrun{
    0% {left: 90%;}
    100% {left: -50px;}
}