@use './background.scss';
@use './player-obstacle.scss';
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

$sky : rgb(167, 238, 238);
$floor : rgb(147, 95, 57);

head{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-image: url('../../public/media/dessertbackground.webp');
    background-repeat:repeat-x;
    background-color: $floor;
}
.score{
    display: flex;
    color: white;
    padding: 0px 20px;
}
.main-game-container{
    height: 200px;
    width: 100%;
    position: relative;
    background-color: $floor;
    display: flex;
    flex-direction: column;
}
.main-display-container{
    display: none;
}
.game-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;
    padding-bottom: 30px;
    height: 400px;
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px 5px white;
    background-image: url('../../public/media/dessertbackground.webp');
    background-position:90%;
    background-size: 100%;
    border: 10px solid black;
    &__text{
        display: flex;
        flex-direction: column;
        border: 2px slid black;
        &--highscore{
            background-color: $floor;
            padding: 5px;
            border: 5px solid black;
            font-family: 'Nabla',sans-serif;
            text-shadow: 1px 1px 2px black;
        }
        &--currentscore{
            background-color: $floor;
            padding: 5px;
            border: 5px solid black;
            font-family: 'Nabla', sans-serif;
            text-shadow: 1px 1px 2px black; 
        }
    }
    &__btn{
        background-color: $floor;
        font-family: 'Nabla',
            sans-serif;
        
        }
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    color: yellow;
    font-family: 'Nabla', sans-serif;
    /* offset-x | offset-y | blur-radius | color (found on MDN)*/
        text-shadow: 1px 1px 2px black; 
}

// footer{
//     height: 400px;
//     background-color: black;
//     margin-top: 70%;
// }